/* WEB CSS of RESERVIA Page */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: 100%;
}

h1 {
    font-weight : 700;
    font-size: 1.45em;
    margin : 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
    line-height: 1.45em;
}

p {
    margin: 0px;
    padding: 0px
}

i {
    display: block;
}

li {
    list-style : none;

}

ul {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #0065FC;
}

a:active {
    text-decoration: none;
    color: #0065FC;
}


/*HEADER*/

    header {
        background-color:#ffff;
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
    }

    #headerContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: calc(100% - 100px);
        max-width: 1340px;
    }

    #subscribe {
        order : 3;
        align-self: flex-start;
        margin-left: 38px;
    }

    #subscribe h2{
        font-size: 1em;
        color: #0065FC;
        padding : 48px 28px 0px 28px
    }

    #subscribe h2:hover{
        text-decoration: underline;
    }

    #logo {
        order: 1;
        flex-grow : 1;
    }

    nav {
        display: flex;
        align-self: flex-start;
        margin-top: 50px;
        order : 2;
    }

    nav a {
        margin-left: 12px;
        padding : 48px 28px 0px 28px
    }

    nav a:hover {
        border-top : solid #0065FC 2px;
    }

/*Search Bar*/

    #section1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #section1Container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 100px);
        max-width: 1340px;
    }

    #section1 p {
        margin-top: 8px ;
    }
    
    #searchBarContainer {
        display: flex;
        margin-top: 20px ;
    }

        #searchBar {
            background-color: #f2f2f2;
            border: solid #f2f2f2 2px;
            border-radius: 20px;
            display:flex;
            align-items: center;
        }

        #searchBar i {
            width: 52px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #searchBar input{
            height: 50px;
            width: 234px;
            font-size: 1em;
            font-weight: 700;
            padding: 0px 0px 0px 17px;
            border: solid #f2f2f2 1px;
            border-right: none;
            border-left: none;
        }

        #searchBar input::placeholder {
            font-size : medium;
            font-weight: 400;
        }

        #searchBar input:focus {
            outline: none;
        }


        #searchBar button {
            width: 136px;
            height: 100%;
            background-color: #0065FC;
            color: white;
            font-weight: 700;
            font-size: 1em;
            border: none;
            border-radius: 0 20px 20px 0;
            transition-duration: 0.1s;
        }

        button span.mobile {
                display:none
            }
        button span.web {
                display:inline-block
            }

        #searchBar button:hover{
            cursor:pointer;
            font-size: 1.1em;
        }

/*-- Section 2 Results */

    /* Filter */
    #section2 {
        margin-top:17px;
        width: 93%;
        max-width: 1340px;
}

    #filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filterButton {
        display: flex;
        align-items:center;
        border-radius: 50px;
        border: solid #f2f2f2 2px;
        height:50px;
        margin: 5px 12px 5px 12px;
        transition-duration: 0.3s
}

    .filterButton i{ 
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #0065FC;
        background-color: #DEEBFF;
    }

    .filterButton:hover {
        border : solid #0065FC 2px;
        background-color: #ffffff;
        cursor:pointer;
        
    }

    .filterButton p{
        padding: 0px 22px 0px 13px;
        font-weight: 700;
    }

    #filter h2 {
        margin-right: 19px;
        font-size: 1.25em;
    }

    /* showResultNb */

    #showResultNb {
        display: flex;
        align-items:center;
        margin-top : 17px;
    }

    #showResultNb i{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border:solid #f2f2f2 1px;
        color: #0065FC;
    }

    #showResultNb p{
        margin-left: 12px;
    }

    /* accommodations */
    
        .accommodations {
            display: flex;
            margin-top: 37px;
            width: 100%
        }
        .accommodationsBox {
            background-color: #f2f2f2;
            border-radius: 25px;
            padding: 42px 40px 46px 40px ;
        }

        .accommodationsBox:nth-of-type(1){
            flex: 7;
            margin-right: 20px;
        }

        .accommodationsBox:nth-of-type(2) {
            flex: 3;
        }

    /* Cards */

        .cards {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            width: 235px;
            background-color: white;
            border-radius: 25px;
            padding : 5px;
            box-shadow: 0px 5px 10px rgb(187, 186, 186);
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        .cards img {
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 114px;
            object-fit: cover;
        }

        .cards h2 {
            font-size: 1.1em;
            margin-top: 10px;
        }

        .cards .text {
            display: flex;
            flex-direction: column;
            width: 235px;
            margin: 0px 8px 0px 8px;
        }

        .cards .stars {
            display: flex;
        }

        .cards .stars i {
            display: block;
            font-size: .75em;
            margin-right:2px;

        }

        .cards .stars .blue i{
            color: #0065FC;
        }

        .cards .stars .grey i{
            color: #d9d9d9;
        }

    /* Accommodation Available */
    #accommodationAvailable {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        margin-bottom: 27px;     
    }

    #accommodationAvailable .cards p {
        margin-top: 12px;
    }

        /* Accommodation Available Cards*/

        #accommodationAvailable .cards .stars{
            margin-top : 8px;
            margin-bottom: 7px;
        }
    
        /* Accommodation Available Link "Afficher plus*/ 
            .accommodationsBox a {
            color: black;
            font: 1em;
            font-weight: 600;
            text-decoration: none;
        }

            .accommodationsBox a:hover {
                color: #0065FC;
                text-decoration:none;
            }
    
    /* Accommodation Popular */

    .accommodationPopular {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;      
    }

    .accommodationPopularTitle {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .accommodationPopularTitle {
        display: flex;

    }
        /* Accommodation Popular Cards*/
        .accommodationPopular .cards {
            flex-direction: row;
            width: 333px;
            margin-bottom: 18px;
        }

        .accommodationPopular .cards img {
            align-content: center;
            border-radius: 20px 0px 0px 20px;
            width: 127px;
            height: 134px;
            object-fit: cover;
        }

        .accommodationPopular .cards .text {
            width: 206px;
            margin-right: 19px;
        }

        .accommodationPopular .cards .text p {
            margin-top: 7px;
        }

        .accommodationPopular .cards .stars{
            margin-top : 28px;
        }

/* Activities */

    #section3 {
        margin-top: 61px;
        width: 93%;
        max-width: 1340px;
    }

    .activitiesBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .activitiesColumn {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .activitiesCards {
        width: 300px;
        box-shadow: 0px 5px 10px rgb(187, 186, 186);
        border-radius: 20px;
        background-color: #ffff;
    }

    .activitiesCards img {
        object-fit: cover;
        width: 300px;
        border-radius: 20px 20px 0 0;
    }

    .activitiesColumn:nth-child(1) img {
        height: 385px;
    }

    .activitiesColumn:nth-child(2) img {
        height: 180px;
    }

    .activitiesColumn:nth-child(2) .activitiesCards:nth-child(2) img {
        height: 110px;
    }

    .activitiesColumn:nth-child(3) img {
        height: 385px;
    }

    .activitiesColumn:nth-child(4) img {
        height: 140px;
    }

    .activitiesColumn:nth-child(4) .activitiesCards:nth-child(2) img {
        height: 150px;
    }

    .activitiesCards h2 {
        font-size: 1em;
        padding: 20px;
    }

/* footer */

    footer {
        background-color: #f2f2f2;
        width: 100%;
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }

    .footerContainer {
        display: flex;      
        flex-wrap: wrap;
        width: 93%;
        max-width: 1340px;
        padding-bottom: 50px;
    }
    

    .footerColumn {
        display: flex;
        flex-direction: column;
        margin-right: 230px;
    }

    .footerColumn h2{
        font-size: 1em;
        margin-top: 50px;
    }

    .footerColumn li{
        margin-top: 15px;
        font-size: 0.9em;
    }




/* TABLET CSS of RESERVIA Page */

@media screen and (max-width: 1400px) {
    .accommodations {
        flex-direction: column;
    }

    .accommodationsBox:nth-of-type(1){
        margin-right: 0px;
    }

    .accommodationsBox:nth-of-type(2) {
        margin-top: 50px;
    }

    #accommodationAvailable {
        justify-content: start;
    }

    #accommodationAvailable .cards {
        margin-right: 25px;
    }

    .accommodationPopular {
        justify-content: start;
    }

    .accommodationPopular .cards{
        margin-right: 25px;
    }

    .activitiesBox {
        justify-content: start;
    }

    .activitiesColumn {
        margin-right: 25px;
    }

    .activitiesCards {
        margin-bottom: 25px;
    }

    .footerContainer {
        justify-content: space-between;
    }

    .footerColumn {
        margin : 0px;
    }
}

/* MOBILE CSS of RESERVIA Page */

@media screen and (max-width: 723px) {

    #section2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section3 {
        margin-top: 0px;
    }

/* HEADER MOBILE */
    
    #headerContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #subscribe {
        order : 2;
        margin-left: 0px;
        align-self: auto;
        margin-top : 30px;
        margin-right: 20px;
    }

    #subscribe h2{
        font-size: 1em;
        color: #0065FC;
        padding : 0px 0px 0px 0px;
    }

    #subscribe h2:hover{
        text-decoration: underline;
    }

    #logo {
        flex-grow : 0;
        margin-top : 30px;
        margin-left: 20px;

    }

    nav {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        order : 2;
        width: 100%;
    }

    nav li {
        width: 100%;
    }

    nav a {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        padding: 0px 0px 13px 0px;
        border-bottom : solid #f2f2f2 3px;
    }

    nav a:hover {
        border-top : none;
        border-bottom : solid #0065FC 3px;
    }

/*SECTION 1 */

    #section1 {
        margin-top: 45px;
    }

    #section1 p {
        margin-top: 16px;
    }

    #locationIcon i{
        width: 49px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #searchBar {
        justify-content: center;
    }

    #searchBar form {
        width: 230px;
    }

    #searchBar button {
        width: 51px;
        height: 51px;
        border-radius: 15px;
    }

    button span.mobile {
        display:flex;
    }
    
    button span.web {
        display:none;
    }


        /* RESULT */

        #filter {
            width: calc(100% - 100px);
        }

        #filter h2 {
            width: 100%;
            margin-bottom: 12px;
            font-size: 1.1em;
        }

        #filter p {
            font-size: .93em;
        }

        #showResultNb {
            width: calc(100% - 100px);
        }

        .accommodations {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            margin-top: 0px;
        }

        .accommodationsBox {
            width: calc(100% - 100px);
            display : flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 0px;
            background-color: #f2f2f2;
            padding: 42px 50px 46px 50px;
        }

        .accommodationsBox a {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .accommodationsBox:nth-of-type(1){
            background-color: #ffff;
            margin-right: 0px;
        }

        .accommodationPopular {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .accommodationPopularTitle {
            margin-bottom: 13px;
        }

        .accommodationPopular .cards {
            width: 100%;
            max-width: 500px;
            margin-left: 0px;
            margin-right: 0px;
        }

        .accommodationPopular .cards img{
            width: 126px;
            height: 133PX;
        }

        .accommodationPopular .cards .text {
            margin-left: 22px;
        }


        .accommodationAvailable {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-basis: 100%;
        }
    
        #section3 {
            width: calc(100% - 100px);
            display: flex;
            flex-direction: column;
        }

        .activitiesColumn {
            width: 100%;
            margin-right: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .activitiesColumn a{
            width: 100%;
        }

        .activitiesCards {
            width: 100%;
            max-width: 500px;
            margin-bottom: 24px;
        }
            
        .activitiesColumn img {
            width: 100%;
        }

        .activitiesColumn:nth-child(1) img {
            height: 130px;
        }
    
        .activitiesColumn:nth-child(2) img {
            height: 130px;
        }
    
        .activitiesColumn:nth-child(2) .activitiesCards:nth-child(2) img {
            height: 130px;
        }
    
        .activitiesColumn:nth-child(3) img {
            height: 130px;
        }
    
        .activitiesColumn:nth-child(4) img {
            height: 130px;
        }
    
        .activitiesColumn:nth-child(4) .activitiesCards:nth-child(2) img {
            height: 130px;
        }


        footer {
            margin-top: 24px;

        }   
        
        .footerContainer {
            flex-direction: column;
            width: calc(100% - 100px);
            padding-bottom: 50px;
        }

        .footerColumn {
            margin : 0px;
        }

        #accommodationAvailable {
            display: block;   
        }

        #accommodationAvailable .cards{
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            max-width: 500px; 
        }
    }