/* CSS of RESERVIA Page */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;

}

h1 {
    font-weight : 700;
    font-size: 1.45em;
    margin : 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
    line-height: 1em;
}

p {
    margin: 0px;
    padding: 0px
}

i {
    display: block;
}

li {
    list-style : none;

}

ul {
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: black;
}

/*Where we define the width of the website*/
.widthSite {
    width: 1340px;
    padding : 0 50px 0 50px;
}


/* Header */

header {
    display : flex;
    width: 100%;
    justify-content: space-between;
    align-items:flex-start;
    padding-top: 42px;
}

    /* Header - Navigation Bar*/

    .navBar li {
        display : flex;
        justify-content: flex-end;
        font-size: 1em;
    }

    .navBar ul {
    margin-top: 0px;
    }

    .navBar a:active{
        outline: none;
        text-decoration: none;
        color: #0065FC;

    }

    .subscribeLink a{
        font-weight: bold;
        color: #0065FC;
}


/*-- Section 1 Search A City */

#sectionSearchCity {
    margin-top: 32px ;
}

#sectionSearchCity p {
    margin-top: 8px ;
}

.searchBar  {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px ;
}

.locationIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    height: 50px;
    width: 52px;
    border-radius: 10px 0px 0px 10px;
    border-top: solid #f2f2f2 1px;
    border-right: none;
    border-bottom: solid #f2f2f2 1px;
    border-left: solid #f2f2f2 1px; 
    }

input{
    height: 50px;
    width: 234px;
    font-size: 1em;
    font-weight: 700;
    padding: 0px 0px 0px 17px;
    border-top: solid #f2f2f2 1px;
    border-right: none;
    border-bottom: solid #f2f2f2 1px;
    border-left: none;
}

input::placeholder {
    font-size : medium;
    font-weight: 400;
  }

input:focus {
    outline: none;
}

.searchBar button{
    background-color: #0065FC;
    height: 52px;
    width: 136px;
    /*Text inside button*/
        color: white;
        font-size: 1em;
        font-weight: 800;
    border-radius: 0 20px 20px 0px;
    border-top: solid #f2f2f2 1px;
    border-right: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    border-left: none;
}

.searchBar button:hover{
    cursor:pointer;
}

/*-- Section 2 Results */

    /* Filter */
    #results {
        margin-top:17px;
}

    .filter {
        display: flex;
        align-items: center;
    }

    .filter h2 {
        margin-right: 10px;
        font-size: 1.25em;
    }

    .filterButton { 
        display: flex;
        align-items:center;
        margin-left: 24px;
    }


    .filterButton i {
        z-index: 0;
        position: absolute;
        margin-left: 2px;
        margin-right: 2px;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #DEEBFF;
        color: #0065FC;
    }

    .filterButton p {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 1,35em;
        font-weight: 700;
        height: 50px;
        padding-left: 63px;
        padding-right: 25px;
        border-radius: 50px 50px 50px 50px;
        border-top : solid #f2f2f2 2px;
        border-right : solid #f2f2f2 2px;
        border-bottom : solid #f2f2f2 2px;
        border-left : solid #f2f2f2 2px;
        background: rgba(0, 0, 0, 0);
        transition-duration: 0.3s

    }

    .filterButton p:hover {
        cursor:pointer;
        border-top : solid #0065FC 2px;
        border-right : solid #0065FC 2px;
        border-bottom : solid #0065FC 2px;
        border-left : solid #0065FC 2px;
        background: rgba(0, 101, 252,.04);
        font-size: 1.09em;
    }

    /* showResultNb */

    .showResultNb {
        display: flex;
        align-items:center;
        margin-top : 17px;
    }

    .showResultNb i{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border:solid #f2f2f2 1px;
        color: #0065FC;
    }

    .showResultNb p{
        margin-left: 12px;
    }

    /* accommodations */
    
    .accommodations {
        display: flex;
        margin-top: 37px;
    }
    .accommodationsBox {
        background-color: #f2f2f2;
        border-radius: 25px;
        padding: 42px 40px 46px 40px ;
    }

    .accommodationsBox:nth-of-type(1){
        flex: 7;
        margin-right: 20px;
    }

    .accommodationsBox:nth-of-type(2) {
        flex: 3;
    }

    /* Cards */

    .cards {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 235px;
        background-color: white;
        border-radius: 25px;
        border: solid white 5px;
        box-shadow: 0px 5px 10px rgb(187, 186, 186);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .cards img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 114px;
        object-fit: cover;
    }

    .cards h2 {
        font-size: 1.2em;
        margin-top: 10px;
    }

    .cards .text {
        display: flex;
        flex-direction: column;
        width: 235px;
        margin: 0px 8px 0px 8px;
    }

    .cards .stars {
        display: flex;
    }

    .cards .stars i {
        display: block;
        font-size: .75em;
        margin-right:2px;

    }

    .cards .stars .blue i{
        color: #0065FC;
    }

    .cards .stars .grey i{
        color: #d9d9d9;
    }

    /* Accommodation Available */
    .accommodationAvailable {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-bottom: 27px;     
    }

    .accommodationAvailable .cards p {
        margin-top: 12px;
    }

        /* Accommodation Available Cards*/

        .accommodationAvailable .cards .stars{
            margin-top : 8px;
            margin-bottom: 7px;
        }
    
        /* Accommodation Available Link "Afficher plus*/ 
            .accommodationsBox a {
            color: black;
            font: 1em;
            font-weight: 600;
            text-decoration: none;
        }

            .accommodationsBox a:hover {
                color: #0065FC;
                text-decoration:underline;
            }
    
    /* Accommodation Popular */

    .accommodationPopular {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;      
    }

    .accommodationPopularTitle {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .accommodationPopularTitle {
        display: flex;

    }
        /* Accommodation Popular Cards*/
        .accommodationPopular .cards {
            flex-direction: row;
            width: 333px;
            margin-bottom: 18px;
        }

        .accommodationPopular .cards img {
            align-content: center;
            border-radius: 20px 0px 0px 20px;
            width: 127px;
            height: 134px;
            object-fit: cover;
        }

        .accommodationPopular .cards .text {
            width: 206px;
            margin-right: 19px;
        }

        .accommodationPopular .cards .text p {
            margin-top: 7px;
        }

        .accommodationPopular .cards .stars{
            margin-top : 41px;
        }

/* Activities */

    #activities {
        margin-top: 61px;
    }

    .activitiesBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }

    .activitiesBox .cards{
        width: 302px;
        border:none;
        margin: 0;
    }

    .activitiesBox h2{
        margin: 23px 20px 20px 20px;
        font-size: 1em;
    }

    .activitiesBox .column1 .cards img {
        height: 390px;
    }

    .activitiesBox .column2, .column4  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .activitiesBox .column2 .cards .img1{
        height:180px;
    }

    .activitiesBox .column2 .cards .img2{
        height:108px;
    }

    .activitiesBox .column4 .cards .img3{
        height:140px;
    }

    .activitiesBox .column4 .cards .img4{
        height:153px;
    }


/* footer */

    footer {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 60px;
        Padding : 50px 0px 50px 0px;
    }

    footer .widthSite {
        display: flex;
        justify-content: flex-start;
    }

    #footerColumn {
        margin-right: 228px;
    }

    #footerColumn h2{
        font-size: 1em;
    }

    #footerColumn ul{
        margin-top: 23px;
    }

    #footerColumn li{
        margin-top: 15px;
        font-size: 0.9em;
    }
